html {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

body {
    margin: 0;
}

@media screen and (max-width: 480px) {

    #userCover,
    #botCover {
        margin: 10px 10px;
    }

    #menuButtonCover {
        display: none;
    }

    #deleteButton {
        font-size: 9px;
        width: 15px;
        height: 15px
    }

    #botImage,
    #userImage {
        width: 50px;
    }
}

@media screen and (min-width: 481px) and (max-width: 900px) {

    #userCover,
    #botCover {
        margin: 10px 25px;
    }

    #deleteButton {
        font-size: 13px;
        width: 20px;
        height: 20px
    }

    #botImage,
    #userImage {
        width: 75px;
    }
}

@media screen and (min-width: 901px) {

    #userCover,
    #botCover {
        margin: 10px 50px;
    }

    #deleteButton {
        font-size: 15px;
        width: 25px;
        height: 25px
    }

    #botImage,
    #userImage {
        width: 100px;
    }
}

.modebar {
    display: none !important;
}

h1 {
    margin-top: 0;
    text-align: center;
    background: #4f8a8b;
    color: #eeeeee;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(0, 95, 104, 1) 0%, rgba(15, 156, 168, 1) 90%);
}

#bottomCoverOuter {
    width: 100vw;
    bottom: 0;
    position: fixed;
    text-align:center;
    padding: 10px 0;
}

#bottomCover {
    padding: 10px 50px;
    border-radius: 100px;
    display: inline-block;
    background-image: linear-gradient(89.9deg, rgba(208, 246, 255, 1) 0.1%, rgba(255, 237, 237, 1) 47.9%, rgba(255, 255, 231, 1) 100.2%);
}

#toggleButtonCover {
    text-align: left;
}

#toggleButton {
    background: #318fb5;
    color: white;
    border-radius: 5px;
    border: 0;
    padding: 2.5px 10px;
    justify-content: left;
}

#menuButtonCover {
    text-align: center;
}

#menuButtonCover>button {
    margin: 10px 5px 0 5px;
    background: #f9d56e;
    border-color: #f3ecc2;
    color: #595238;
    border:1px solid;
    border-color:white;
    border-radius: 25px;
}

#menuButtonCover>button:hover {
    background: #eebb4d;
}

#inputCover {
    margin: 0;
    text-align: center;
}

button:hover {
    cursor: pointer;
}

input[type=text] {
    border-radius: 2.5px;
    height: 20px;
    border: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

input[type=submit],
#submitButton {
    margin: 0 10px;
    border: 2px solid;
    border-radius: 3px;
    border-color: #f0ece3;
    background: #24a19c;
    color: #f0ece3;
    font-size: 1.25rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

input[type=submit]:hover,
#submitButton:hover {
    cursor: pointer;
    background: #006a71;
}

#userInput {
    height: 2rem;
    width: 50%;
    font-size: 1.5rem;
    border-radius:100px;
}

#submitButton {
    height: 2rem;
    font-size: 1.5rem;
    padding: 0 10px;
    border-radius: 50px;
}

#bubbleCover {
    text-align: center;
    margin: 0 0 125px 0;
}

.bubble {
    font-size: 1rem;
    display: inline-block;
    vertical-align: top;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.chatHeader {
    text-align: left;
}

#topicTitle {
    color: black;
    display: inline-block;
    float: left;
    margin: 0px 10px;
}

#deleteButtonCover {
    border-radius: 10px 10px 0 0;
    text-align: left;
    background: #e5edb7;
    margin: 0 10px 0 5px;
    padding: 2.5px 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-image: linear-gradient( 109.6deg,  rgba(245,95,152,1) 11.2%, rgba(254,148,136,1) 100.2% );}

#deleteButtonCoverTwo {
    border-radius: 10px 10px 0 0;
    text-align: right;
    background: #ddf3f5;
    margin: 0 10px 0 5px;
    padding: 2.5px 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-image: radial-gradient( circle 1158px at 6.4% 48.8%,  rgba(195,241,245,1) 0%, rgba(255,255,255,1) 90.2% );
}


#deleteButton {
    margin: 3px;
    border-radius: 50px;
    border: 0;
    background: red;
    color: white;
    vertical-align: top;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#userCover {
    text-align: right;
}

#convoCover {
    display: inline-block;
    vertical-align: top;
}

#botCover {
    text-align: left;
}

.userChat {
    border-radius: 0 0 10px 10px;
    display: inline-block;
    padding: 15px;
    margin: 0 10px 0 5px;
    background: #e5edb7;
}

.botChat {
    border-radius: 0 0 10px 10px;
    padding: 25px;
    margin: 0 10px 0 5px;
    text-align: left;
    background: #ddf3f5;
    display: inline-block;
    max-width: 50vw;
}

#botImage,
#userImage {
    display: inline-block;
}

/*Derivative*/
#derivativeEquation {
    width: 150px;
}


/*Distance*/
.numberInput {
    width: 25px;
}

#distanceGraphCover {
    text-align: center
}

#distanceGraph {
    display: inline-block;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/*Calculator*/
#calculatorOutput {
    border-radius: 2.5px;
    ;
    padding: 2.5px;
    height: 20px;
    width: 210px;
    margin: 2.5px;
    background: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#calculatorWarning {
    height: 20px;
    color: red;
}

.calculatorButton {
    width: 50px;
    height: 25px;
    margin: 2.5px;
    border-radius: 5px;
    border-color: white;
    background: #3282b8;
    color: white;
}

/*Pythagorean*/
.triangleOne {
    text-align: center;
}

#pythagBlockOne,
#pythagBlockTwo {
    display: inline-block;
}

#pythagBlockOne {
    vertical-align: top;
    margin: 75px 0 0 0;
}

#pythagBlockTwo {
    text-align: center;
}

#pythagC {
    position: relative;
    top: 65px;
    z-index: 1;
}

/*Unit Circle*/
#unitCircle {
    width: 50vw;
    height: 50vw;
}